:root {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
  text-align: center;
  background-color: skyblue;
  font-weight: bolder;
  padding: 1px; 
}

#cityBtn {
  display: flex;
  flex-direction: column;
 
 

}

button {
  margin-right: 0px;
}

.card-style {
  border: 2px solid black;
}

.forecast-card-style {
  border: 2px solid black;
  width: 30%;
  margin: 5px;
}



.forecast {
  display: flex;
  flex-direction: row;
}